# SITE CONFIGURATION
baseurl: "" # the subpath of your site, e.g. /blog/
url: "http://iloveulhj.github.io" # the base hostname & protocol for your site

# THEME-SPECIFIC CONFIGURATION
theme:
  # Meta
  title: Hojung's blog
  avatar: avatar.png
  gravatar: # email md5 hash
  description: "A website with blog posts, and pages." # used by search engines
  
  # Header and footer text
  header_text: >
     <p>성공한 사람들은 어느 일에나<br>
     항상 실패의 가능성이 있다는 사실을 알고 있는 사람들이다.<br>
     그들은 실패를 두려워하지 않는 태도로 의연하다.</p>
     
     <span>디오도어 루빈</span>
  footer_text: >
   Powered by <a href="http://jekyllrb.com">Jekyll</a> with <a href="https://rohanchandra.github.io/project/type.html">Type Theme</a>
  
  # Icons
  rss: false
  email_address: # full email address, e.g. "sam@example.com"
  behance:
  bitbucket: 
  dribbble: 
  facebook:
  flickr: 
  github: "iloveulhj"
  google_plus:
  instagram: 
  linkedin:  # full URL
  pinterest: 
  reddit: 
  soundcloud: 
  stack_exchange:  # full URL
  steam: 
  tumblr: 
  twitter:
  wordpress: 
  youtube: 
  
  # Scripts
  google_analytics: # tracking id, e.g. "UA-000000-01"
  disqus_shortname:
  
  # Localization strings
  str_follow_on: "Follow on"
  str_rss_follow: "Follow RSS feed"
  str_email: "Email"
  str_next: "Next"
  str_prev: "Prev"
  str_continue_reading: "Continue reading"
  
  # Colors, typography and padding
  # Open the "_sass > base" folder, and open "_variables.scss"

# PAGINATION
paginate: 5
paginate_path: "blog/page:num"

# BUILD SETTINGS
markdown: kramdown
highlighter: pygments
sass:
  sass_dir: _sass
  style: :compressed
